# Ignore environment files
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE files
.vscode/
.idea/

# Ignore database dumps
*.sqlite
*.db

# Ignore Redis dump
dump.rdb

# Ignore dependencies (if using virtualenv)
venv/
